body{
    background-color: blanchedalmond;
    font-size: larger;
}
h1{
    color: brown;
    text-shadow: 0 0 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: rgb(18, 105, 148);
    text-align: center;
}
p{
    font-size: small;
    font-family: 'Times New Roman' ;
    font-style: normal;
    text-align: center;
}
img{
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}
nav{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
nav a{
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid#121111;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(50, 6, 126);
}
.skill-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
    margin-top: 20px;
}
.skill-box{
    background: #e1649cf1;
    border: 2px solid #0d0c0c;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: bold;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(14, 12, 12);
  text-align: center;
  padding: 10px;
}

